.carousel-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 10px;
  }
  
  .carousel-next {
    right: 10px;
  }


@media (min-width: 421px) {
    .carousel-slide {
      min-width: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .carousel-slide {
      min-width: 33.33%;
    }
  }
  
  @media (min-width: 992px) {
    .carousel-slide {
      min-width: 25%;
    }
  }
  
  @media (min-width: 1200px) {
    .carousel-slide {
      min-width: 20%;
    }
  }
  
  @media (min-width: 1400px) {
    .carousel-slide {
      min-width: 16.66%;
    }
  }