<!-- Category -->
<section class="section-category overflow-hidden py-[50px] max-[1199px]:py-[35px]">
  <div class="flex flex-wrap justify-between relative items-center mx-auto min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
      <div class="flex flex-wrap w-full mb-[-24px]">
          <!-- Image de la catégorie -->
          <div class="min-[992px]:w-[41.66%] w-full px-[12px] mb-[24px]">
              <div class="bb-category-img relative max-[991px]:hidden">
                  <img src="assets/img/category/category.jpg" alt="category" class="w-full rounded-[30px]">
                  <div class="bb-offers py-[5px] px-[15px] absolute top-[20px] right-[20px] bg-[#000] opacity-[0.8] rounded-[15px]">
                      <span class="text-[14px] font-normal text-[#fff]">50% Off</span>
                  </div>
              </div>
          </div>

          <!-- Contenu des catégories -->
          <div class="min-[992px]:w-[58.33%] w-full px-[12px] mb-[24px]">
              <div class="bb-category-contact max-[991px]:mt-[-24px]">
                  <!-- Titre de la section -->
                  <div class="category-title mb-[30px] max-[991px]:hidden">
                      <h2 class="font-quicksand text-[124px] text-[#fff] opacity-[0.15] font-bold leading-[1.2] tracking-[0.03rem] max-[1399px]:text-[95px] max-[1199px]:text-[70px] max-[767px]:text-[42px]">Article en vedette</h2>
                  </div>

                  <!-- Grille de catégories -->
                  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-[24px] bg-[#fff] rounded-tl-[30px] p-[30px] max-[991px]:p-[0]">
                      <!-- Catégorie 1 -->
                      <div class="bb-category-box p-[30px] rounded-[20px] flex flex-col items-center text-center max-[1399px]:p-[20px] bg-[#fef1f1]">
                          <div class="category-image mb-[12px]">
                              <img src="assets/img/category/1.svg" alt="category" class="w-[50px] h-[50px] max-[1399px]:h-[65px] max-[1399px]:w-[65px] max-[1199px]:h-[50px] max-[1199px]:w-[50px]">
                          </div>
                          <div class="category-sub-contact">
                              <h5 class="mb-[2px] text-[16px] font-quicksand text-[#3d4750] font-semibold tracking-[0.03rem] leading-[1.2]">
                                  <a href="shop-left-sidebar-col-3.html" class="font-Poppins text-[16px] font-medium leading-[1.2] tracking-[0.03rem] text-[#3d4750] capitalize">Vegetables</a>
                              </h5>
                              <p class="font-Poppins text-[13px] text-[#686e7d] leading-[25px] font-light tracking-[0.03rem]">485 items</p>
                          </div>
                      </div>

                      <!-- Catégorie 2 -->
                      <div class="bb-category-box p-[30px] rounded-[20px] flex flex-col items-center text-center max-[1399px]:p-[20px] bg-[#e1fcf2]" >
                          <div class="category-image mb-[12px]">
                              <img src="assets/img/category/2.svg" alt="category" class="w-[50px] h-[50px] max-[1399px]:h-[65px] max-[1399px]:w-[65px] max-[1199px]:h-[50px] max-[1199px]:w-[50px]">
                          </div>
                          <div class="category-sub-contact">
                              <h5 class="mb-[2px] text-[16px] font-quicksand text-[#3d4750] font-semibold tracking-[0.03rem] leading-[1.2]">
                                  <a href="shop-left-sidebar-col-3.html" class="font-Poppins text-[16px] font-medium leading-[1.2] tracking-[0.03rem] text-[#3d4750] capitalize">Fruits</a>
                              </h5>
                              <p class="font-Poppins text-[13px] text-[#686e7d] leading-[25px] font-light tracking-[0.03rem]">291 items</p>
                          </div>
                      </div>

                      <!-- Catégorie 3 -->
                      <!-- <div class="bb-category-box p-[30px] rounded-[20px] flex flex-col items-center text-center max-[1399px]:p-[20px] bg-[#f4f1fe]" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="600">
                          <div class="category-image mb-[12px]">
                              <img src="assets/img/category/3.svg" alt="category" class="w-[50px] h-[50px] max-[1399px]:h-[65px] max-[1399px]:w-[65px] max-[1199px]:h-[50px] max-[1199px]:w-[50px]">
                          </div>
                          <div class="category-sub-contact">
                              <h5 class="mb-[2px] text-[16px] font-quicksand text-[#3d4750] font-semibold tracking-[0.03rem] leading-[1.2]">
                                  <a href="shop-left-sidebar-col-3.html" class="font-Poppins text-[16px] font-medium leading-[1.2] tracking-[0.03rem] text-[#3d4750] capitalize">Cold Drinks</a>
                              </h5>
                              <p class="font-Poppins text-[13px] text-[#686e7d] leading-[25px] font-light tracking-[0.03rem]">49 items</p>
                          </div>
                      </div> -->

                      <!-- Catégorie 4 -->
                      <!-- <div class="bb-category-box p-[30px] rounded-[20px] flex flex-col items-center text-center max-[1399px]:p-[20px] bg-[#fbf9e4]" data-aos="flip-left" data-aos-duration="1000" data-aos-delay="800">
                          <div class="category-image mb-[12px]">
                              <img src="assets/img/category/4.svg" alt="category" class="w-[50px] h-[50px] max-[1399px]:h-[65px] max-[1399px]:w-[65px] max-[1199px]:h-[50px] max-[1199px]:w-[50px]">
                          </div>
                          <div class="category-sub-contact">
                              <h5 class="mb-[2px] text-[16px] font-quicksand text-[#3d4750] font-semibold tracking-[0.03rem] leading-[1.2]">
                                  <a href="shop-left-sidebar-col-3.html" class="font-Poppins text-[16px] font-medium leading-[1.2] tracking-[0.03rem] text-[#3d4750] capitalize">Bakery</a>
                              </h5>
                              <p class="font-Poppins text-[13px] text-[#686e7d] leading-[25px] font-light tracking-[0.03rem]">08 items</p>
                          </div>
                      </div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
